@media only screen and (min-width: 321px) {
  .SearchInput > input {
    max-height: 1rem;
    max-width: 7rem;
    font-size: 14px;
    border-radius: 0.25rem;
    outline: 0;
    border: 0.1rem solid #767676;

  }
}

@media only screen  and (min-width: 1224px) {
  .SearchInput > input {
    max-height: 2rem;
    max-width: 17rem;
    font-size: 1.5rem;
  }
}

.SearchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0 0;
}

.SearchInput > input {
  border-radius: 0.25rem;
  outline: 0;
  border: 0.1rem solid #767676;
}