@media only screen and (min-width: 321px) {
    .fetchMore button{
        min-height: 7vh;
        font-size: 120%;
    }
}

@media only screen  and (min-width: 1224px) {
    .fetchMore{
        text-align: center;
    }

    .fetchMore button{
        min-height: 10vh;
        font-size: 150%;
    }
}

.fetchMore button{
    cursor: pointer;
    background-color: wheat;
    border: none;
    width: 100%;
    margin-bottom: -17px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.4) 0 8px 24px;
    transition: ease-in-out .3s;
}

.fetchMore button:hover{

    background-color: coral;
    color: white;
    transition: ease .3s;
}

.disableBtn{
    display: none;
}