@media (max-width: 376px) {
  .Header-logo {
    max-width: 70px;
    max-height: 70px;
  }
  .Header {
    padding: 5px;
  }
}

.Header {
  display: grid;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: rgba(149, 157, 165, 0.4) 0 8px 24px;
  background-color: rgba(250,235,215, 0.9);
  transition: ease-in-out .3s;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  grid-template-areas:
          "headerLogo searchBlock"
          "headerLogo changePageBlock";
  grid-template-columns: 45px 1fr;
  grid-template-rows: 50px 1fr;
}

.Header:hover{
  transition: ease .3s;
  background-color: coral;
}

.Header-logo {
  margin-left: 20px;
  left: 1.5rem;
  max-width: 4rem;
  /*max-height: 5rem;*/
  pointer-events: none;
  grid-area: headerLogo;
}

@media (prefers-reduced-motion: no-preference) {
  .Header-logo {
    animation: Header-logo-spin infinite 20s linear;
  }
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.changePage {
  text-align: center;
  grid-area: changePageBlock;
  margin-bottom: 5px;
}

.searchBlock{
  grid-area: searchBlock;
  margin: 0 0 20px 0;
}