body {
  margin: 0;
  background-image: url("assets/backgroundImg/rik and morty theme.JPG");
  background-attachment: fixed;
  background-size: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
