@media (max-width: 1280px) {
  body {
    background-image: url("assets/backgroundImg/rik and morty theme 1280-1024.JPG");
  }
}

@media only screen  and (min-width: 1824px) {
  body{
    background-image: url("assets/backgroundImg/rik and morty theme BIG.JPG");
  }
}

@media (max-width: 480px) {
  body{
    background-image: url("assets/backgroundImg/rik and morty theme iPhoneX.JPG");
  }
}

body {
  margin: 0;
  background-attachment: fixed;
  background-size: 100%;
  font-family: 'Times New Roman', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
